.input {
    @include input;
    width: calc(100% - 1.1rem);
}

.input-small {
    @include input;
    width: calc(100% - 1.1rem);
}

.input-large {
    @include input;
    width: calc(100% - 1.1rem);
}

@media (max-width:$notebook) {
    .input {
        height: 2.1875rem;
    }
    .input-small {
        height: 2.1875rem;
    }
    .input-large {
        height: 2.1875rem;
    }
}