@font-face {
    font-family: 'alegreya';
    src: local('alegreya'), url('fonts/AlegreyaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'alegreya-bold';
    src: local('alegreya'), url('fonts/AlegreyaSans-Bold.ttf') format('truetype');
}