$background-main:'images/img/main.webp';
$background-order:'images/img/order.webp';
$background-map:'images/img/map.webp';
$background-menu:'images/img/menu.webp';
$background-main-mobile:'images/img/main_mobile.webp';
$logo: 'images/img/logo.svg';
$phone:'images/img/phone.svg';
$player:'images/player.webp';
$play:'images/img/play.svg';
$sound:'images/img/sound.svg';
$sprite:'images/img/sprite.svg';
$menu: 'long',
'short',
'soft';