@mixin input($width:13.875rem) {
    width: $width;
    height: 3.625rem;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.75rem;
    outline: none;
    box-sizing: border-box;
    &:focus {
        border: 2px solid $yellow;
    }
}

@mixin text ($font-size:1.3125rem) {
    font-size: $font-size;
    color: $white;
    font-weight: 400;
}

@mixin title ($color:$black) {
    font-size: 3rem;
    line-height: 3.5625rem;
    text-align: center;
    font-weight: bold;
    color: $color;
    text-transform: uppercase;
}